/* main color: mpbox #314CCD*/
/* another main: deep blue #122580*/
/* others:  white #FFFFFF*/
/*custom black: #1F3349 */
/* redish: #F9886C*/

body{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

body a{
	text-decoration: none;
	color: #ffffff;
}

/********************************************************/
/*navbar*/
/********************************************************/
.custom-navbar{
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 2%;
	background-color: #314CCD;
	height: 100px;
	margin: 0;
	color: #1F3349;

}

.logo{
  flex: 2;
  margin-left: 2%;
  font-weight: 600;
  font-size: 24px;
}

.nav-search,
.login,
.signup{
	flex: 1;
}

/* Search bar*/
.nav-search{
	margin-left: 40%;
}


/*search bar*/
input[type=search] {
	padding: 2% 5%;
    border: 0.4px solid #1F3349;
    border-radius: 10px;
    -webkit-appearance: none;
}

/*search icon*/
.search-icon{
 color: #314CCD;
}

.login{
   margin-left: 10%;
   margin-right: -2%;
}

.login, .signup{
	font-size: 14px;
}
/********************************************************/
/*navbar*/
/********************************************************/

.facts{
	font-weight: 600;
	line-height: 1.5;
}
.facts p{
	padding-left: 10%;
}

.facts p:nth-of-type(2){
	padding-left: 12%;
	margin-top: -0.5%;
}

.facts span{
	color: #314CCD;
	font-size: 17px;
}


/********************************************************/
/*banner*/
/********************************************************/

.banner{
	height: 600px;
	background-image: url("../img/round-aboun-1.jpg");
	
}


.banner{
   color: #ffffff;
   padding-left: 2%;
   font-weight: 800;
   height: 440px;

}
.banner h3 {
	padding-top: 2%;
	font-size: 25px;
	margin-bottom: -1%;
	
}

.platform-description{
    padding-left: 20%;
}

.banner p:nth-of-type(1){
	margin-bottom: 10%;
}

.plat.signup-card-description{
    padding-left: 20%;
}

/* red-flag or intervention buttons*/

.incident-buttons{
	text-align: center;
}

.incident-buttons a{
	border: 0.5px solid white;
	border-radius: 10px;
	padding: 1% 1%;
	width: 10%;
	background-color: #314CCD;
}

/********************************************************/
/*banner*/
/********************************************************/

/********************************************************/
/*corruption figures*/
/********************************************************/

.corruption-figures{
	margin-top: -0.1%;
	background-color: #314CCD;
	display: flex;
	padding: 3% 2%;

}

.corruption-figures li{
    list-style-type: none;
    text-align: center;
    margin-right: 1%;
    padding: 2% 2%;
    color: #ffffff;
    font-weight: 500;
}

.corruption-figures span{
	font-weight: 700;
	font-size: 22px;
}

/********************************************************/
/*corruption figures*/
/********************************************************/

.info-source{
	font-size: 13px;
	text-align: right;
	margin-top: -3%;
	margin-right: 2%;
}
.info-source a{
	text-align: center;
}

.info-source span{
	font-weight: 600;
}

/********************************************************/
/*corruption figures*/
/********************************************************/


/********************************************************/
/*statistics*/
/********************************************************/

.statistics{
	display: flex;
	justify-content: center;
	max-width: 700px;
	padding: 1% 2%;
	margin: 2% auto;
}

.statistics li{
    list-style-type: none;
    text-align: center;
    /* mwork in conjunction with statistic max-width to round li elements*/
    margin-right: 6%; 
    color: #1F3349;
    font-weight: 500;
    flex: 1;
    border: 1px solid black;
    width: 104px;
    border-radius: 50%;
}

.statistics h3{
	font-weight: 800;
}

.statistics p{
	color: #314CCD;
	font-weight: 600;
}



/********************************************************/
/*statistics*/
/********************************************************/


/********************************************************/
/*sign up  page*/
/********************************************************/
.signup-page{
	margin-top: -1.3%;
	background-color:  #314CCD;
	height: 580px;
}

.signup-card{
	background-color: #ffffff;
	width: 40%;
	padding: 2%  3% 2% 2%;
	position: relative;
	top: 8%;
	left: 35%;
	border-radius: 2%;
}

.signup-card p:nth-of-type(1){
	font-weight: 800;
	margin-bottom: 6%;
	font-size: 23px;
}

.signup-card label{
	display: block;
	font-weight: 800;
}

.signup-card input{
	-webkit-appearance: none;
	border: 1px solid #1F3349;
	padding: 1% 1%;
	border-radius: 10px;
	font-size: 16px;
}

.signup-card button{
	cursor: pointer;
	border: 0.5px solid white;
	border-radius: 10px;
	padding: 2% 2%;
	width: 30%;
	background-color: #314CCD;
	text-align: center;
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	margin-left: 4%;

}

.signup-card  a{
	color: #314CCD ;
}

/********************************************************/
/*sign up  page*/
/********************************************************/



/********************************************************/
/* view incidents on map*/
/********************************************************/

.map {
	height: 550px;
	background-image: url("../img/google-map.png");
}

.map p{
	padding-top: 4%;
	margin-left: 70%;
	font-weight: 600;
}

.map span{
	color: #314CCD;
	font-weight: 600;
}

/* Red flags*/
.red-flag{
	font-size: 80px;
	color: red;
	cursor: pointer;
}

#red-flag-1,
#red-flag-2,
#red-flag-3,
#red-flag-4,
#red-flag-5{
	position: absolute;
}

#red-flag-1{
	top: 1210px;
	left: 70px;
}

#red-flag-2{
	top: 1380px;
	left: 800px;
}

#red-flag-3{
	top: 1100px;
	left: 150px;
}

#red-flag-4{
	top: 1210px;
	left: 340px;
}

#red-flag-5{
	top: 1240px;
	left: 700px;
}

.red-flag-summary{
	width: 20%;
	border: 3px solid #F9886C;
	border-radius: 10px;
	text-align: center;
	font-weight: 800;
	/*z-index: 2;*/
}

.red-flag-summary h3{
	color:  #314CCD;
}
.red-flag-summary h5{
   margin-top: -4%;
}