 /*main color: mpbox #314CCD   rgb: rgb(49,76,205)*/
/* another main: deep blue #122580*/
/* others:  white #FFFFFF*/
/*custom black: #1F3349 */
/* redish: #F9886C*/

body{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

body a{
	text-decoration: none;
}

/********************************************************/
/*navbar*/
/********************************************************/
.custom-navbar{
	padding-bottom: 2%;
	background-color: #314CCD;
  height: 100px;
	color: #1F3349;
	background-color: #314CCD;
	margin-top: -1%;

}

.custom-navbar > li{
	list-style-type: none;
	display: inline-block;
	margin-top: 3%;
}

.custom-navbar a{
	color: #ffffff;
}

/* Logo */
.custom-navbar > li:nth-of-type(1){
  margin-left: 2%;
  font-weight: 600;
  font-size: 24px;
}

/* search bar */
.custom-navbar > li:nth-of-type(2){
	margin-left: 40%;
	margin-right: 7%;
}

/* sign in on navbar */
.custom-navbar > li:nth-of-type(3){
  margin-left: 2%;
}

/* signup on navbar */
.custom-navbar > li:nth-of-type(4){
	margin-left: 1%;
	
}

/* avatar */
.custom-navbar > li:nth-of-type(5){
	margin-left: 1%;
	position: relative;
	top: 14%;
}

/* *search bar*/ 
input[type=search] {
	-webkit-appearance: none;
	padding: 2% 5%;
	border: 0.4px solid #1F3349;
	border-radius: 10px;
}

.search-login{
	margin-left: 30%;
}

/********************************************************/
/*navbar*/
/********************************************************/

.facts{
	font-weight: 600;
	line-height: 1.5;
	padding: 1% 0;
}
.facts p{
	padding-left: 10%;
}

.facts p:nth-of-type(2){
	padding-left: 12%;
	margin-top: -0.5%;
}

.facts span{
	color: #314CCD;
	font-size: 17px;
}


/********************************************************/
/*banner*/
/********************************************************/

.banner{
	height: 601px;
	background-image: url("../img/round-aboun-1.jpg");
	
}


.banner{
   color: #ffffff;
   padding-left: 2%;
   font-weight: 800;
   height: 440px;

}
.banner .welcome-message {
	padding-top: 2%;
	/*font-size: 25px;*/
	margin-bottom: -1%;
	
}

.platform-description{
		/* padding-left: 20%; */
		text-align: center;
		padding-top: 1%;
}

.banner p:nth-of-type(1){
	margin-bottom: 10%;
}

.plat.signup-card-description{
    padding-left: 20%;
}

/* red-flag or intervention buttons*/

.incident-buttons{
	text-align: center;
}

.incident-buttons a{
	border: 0.5px solid white;
	border-radius: 10px;
	padding: 1% 1%;
	width: 10%;
	background-color: #314CCD;
	color: #ffffff;
}

/********************************************************/
/*banner*/
/********************************************************/

/********************************************************/
/*corruption figures*/
/********************************************************/

.corruption-figures{
	margin-top: -0.1%;
	background-color: white;
	display: flex;
	justify-content: space-around;
	padding: 3% 2%;

}

.corruption-figures > li{
    list-style-type: none;
    text-align: center;
    margin-right: 1%;
    padding: 2% 2%;
    color: #1F3349;
		font-weight: 500;
		width: 100%;
}

.corruption-figures span{
	font-weight: 700;
	font-size: 22px;
}

/********************************************************/
/*corruption figures*/
/********************************************************/

.info-source{
	font-size: 13px;
	text-align: right;
	margin-top: -3%;
	margin-right: 2%;
}
.info-source a{
	text-align: center;
	color: #314CCD;
}

.info-source span{
	font-weight: 600;
}

/********************************************************/
/*corruption figures*/
/********************************************************/


/********************************************************/
/*statistics*/
/********************************************************/

.statistics{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 2% 10%;
	margin: -0.7% 0;
	background-color: #314CCD;
}

.statistics > li{
    list-style-type: none;
    text-align: center;
    font-weight: 500;
		color: white;
}

.statistics > h3{
	font-weight: 800;
}

.statistics p{
	color: white;
	font-weight: 600;
}



/********************************************************/
/*statistics*/
/********************************************************/


/********************************************************/
/*sign up  page*/
/********************************************************/
.signup-page{
	margin-top: -5%;
	background-color:  #314CCD;
	padding-bottom: 3%;
	padding-top: 4%;
}

.signup-card{
	background-color: #ffffff;
	width: 28%;
	padding: 3%  3% 3% 3%;
	position: relative;
	top: -1%;
	left: 32.5%;
	border-radius: 2%;
}

.signup-card > .singup-header{
	font-weight: 800;
	margin-bottom: 8%;
	font-size: 23px;
	margin-left: 35%;
}

.signup-card label{
	display: block;
	font-weight: 800;
	margin: 1% 8%;
}

/* input[type=text],
input[type=password]{
	-webkit-appearance: none;
	border: 1px solid #1F3349;
	padding: 1% 1%;
	border-radius: 10px;
	font-size: 16px;
	width: 80%;
	margin: 1% 7%;
} */

.input-text{
	-webkit-appearance: none;
	border: 1px solid #1F3349;
	padding: 1% 1%;
	border-radius: 10px;
	font-size: 16px;
	width: 80%;
	margin: 1% 7%;
}

.incident-text-area{
	-webkit-appearance: none;
}

.signup-card button{
	cursor: pointer;
	border: 0.5px solid white;
	border-radius: 10px;
	padding: 2% 2%;
	width: 30%;
	background-color: #314CCD;
	text-align: center;
	color: #ffffff;
	font-size: 16px;
	font-weight: 500;
	margin-left: 35%;

}

.signup-card  a{
	color: #314CCD ;
}

.signup-card > p:last-child,
.forget-pass-para{
  text-align: center;
}

/********************************************************/
/*sign up  page*/
/********************************************************/



/********************************************************/
/* view incidents on map*/
/********************************************************/

.map {
	height: 500px;
	background-image: url("../img/google-map.png");
	margin-bottom: 2%;
}

.map p{
	padding-top: 4%;
	margin-left: 70%;
	font-weight: 60;
}

.map span{
	color: #314CCD;
	font-weight: 600;
}
/******************************************************************/
/* Red flags*/
/******************************************************************/
.red-flag{
	font-size: 60px;
	color: red;
	cursor: pointer;
}

#red-flag-1,
#red-flag-2,
#red-flag-3,
#red-flag-4,
#red-flag-5,
#intervention-1,
#intervention-2,
#intervention-3,
#intervention-4,
#intervention-5{
	position: absolute;
}

#red-flag-1{
	top: 1210px;
	left: 70px;
}

#red-flag-2{
	top: 1380px;
	left: 800px;
}

#red-flag-3{
	top: 1100px;
	left: 150px;
}

#red-flag-4{
	top: 1210px;
	left: 340px;
}

#red-flag-5{
	top: 1240px;
	left: 700px;
}

.red-flag-summary,
.intervention-summary{
	width: 10%;
	border: 3px solid #F9886C;
	border-radius: 10px;
	text-align: center;
	font-weight: 800;
	/*z-index: 2;*/
}

.red-flag-summary > h3,
.intervention-summary > h3{
	color:  #314CCD;
	font-size: 14px;
}
.red-flag-summary h5,
.intervention-summary h5{
   margin-top: -4%;
}

/******************************************************************/
/* Red flags*/
/******************************************************************/

/******************************************************************/
/* Intervention*/
/******************************************************************/
.intervention{
	font-size: 60px;
	color:  #314CCD;
	cursor: pointer;
}

#intervention-1{
	top: 1300px;
	left: 220px;
}

#intervention-2{
	top: 1300px;
	left: 500px;
}

#intervention-3{
	top: 1100px;
	left: 430px;
}

#intervention-4{
	top: 1250px;
	left: 900px;
}

#intervention-5{
	top: 1400px;
	left: 1100px;
}

.intervention-summary{
	border: 3px solid #314CCD;
}

.intervention-summary h5{
	color: black;
}

/******************************************************************/
/* Intervention*/
/******************************************************************/

/******************************************************************/
/* incident creation*/
/******************************************************************/
.avatar{
	/* font-size: 30px;
	margin-right: 5%; */
	cursor: pointer;
	color: white;
	border-radius: 50%;
	height: 35px;
	width: 35px;
	/* margin-top: 40%; */
}

.incident-search{
	margin-right: 13%;
}

.incident-form-header{
	text-align: center;
	padding-bottom: 2%;
}

#incident-card{
	width: 50%;
	margin-left: -10%;
	margin-top: -2%;
}

.user-card{
	padding: 2% 1%;
	position: absolute;
	top: 10%;
	right: 1%;
	width: 15%;
	border-radius: 10px;
	background-color: #FFEDE5;
	visibility: hidden;
	margin-top: 0.5%;
}

.user-card a {
	color: #314CCD;
	margin-left: 5%;
}

#label-1, #label-2{
	display: inline;
	font-weight: 500;
}

.select-type{
	font-weight: 600;
	margin-bottom: 4%;
	margin-left: 8%;
}

input[type=radio]{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	border-radius: 50%;
	width: 16px;
	height: 16px;

	border: 2px solid #999;
	transition: 0.2s all linear;
	outline: none;
	margin-right: 5px;

	/* position: relative;
	top: 22px;
	left: 45px; */
}

/* Red flag radio button */
#redflag-choice{
	margin-left: 25%;
}

/* Red flag label incident form */
#label-1{
	margin-left: 1%;
}
/* Intervention label in incident form */
#label-2{
	margin-left: 1%;
}

/* title label */
.incident-title{
	margin-top: -10;
}

/* File input */
.upload-input{
	margin-left: 8%;
}

input[type=radio]:checked{
	border: 2px solid black;
	background-color: #314CCD;
}

.incident-radios{
	margin-bottom: 5%;
}

.incident-aside{
	position: absolute;
	top: 7%;
	left: 48%;
	font-weight: 300;
	padding: 3% 3%;
	line-height: 1.5;
}

.incident-aside span{
	color: #314CCD;
	font-weight: 600;
}

.call{
	color: #314CCD;
	padding-left: 5%;
	font-weight: 400;
}
/******************************************************************/
/* incident creation*/
/******************************************************************/

/******************************************************************/
/* All incidents for an individual user*/
/******************************************************************/


.all-incidents-intro{
    margin-left: 2%;
    font-weight: 500;
    padding: 1% 4%;
    font-size: 20px;
}

.all-incidents-intro span{
	color: #314CCD;
	font-weight: 600
}

#red-flag-11,
#red-flag-12,
#red-flag-13,
#red-flag-14,
#red-flag-15,
#intervention-11,
#intervention-12,
#intervention-13,
#intervention-14,
#intervention-15{
	position: absolute;
}

#red-flag-11{
	top: 300px;
	left: 70px;
}

#red-flag-12{
	top: 400px;
	left: 190px;
}

#red-flag-13{
	top: 600px;
	left: 400px;
}

#red-flag-14{
	top: 500px;
	left: 800px;
}

#red-flag-15{
	top: 560px;
	left: 1000px;
}

#intervention-11{
	top: 500px;
	left: 220px;
}

#intervention-12{
	top: 300px;
	left: 300px;
}

#intervention-13{
	top: 400px;
	left: 430px;
}

#intervention-14{
	top: 600px;
	left: 900px;
}

#intervention-15{
	top: 500px;
	left: 70px;
}

/* adding animation */
.animate-icon{
    animation: bounce .3s infinite alternate;
}

@keyframes bounce {
  to { -webkit-transform: scale(1.2); }
}


/******************************************************************/
/* All incidents*/
/*****************************************************************

/* view pages */

.view-intro{
	margin-top: -1%;
}

.view-report-button{
	color: blue;
}

.view-button{
	margin-left: -60%;
}

.view-button a{
	font-weight: 400;
	font-size: 16px;
	padding: 0.5% 0.5%;
}

/* Creating an overlay */
#overlay {
    position: fixed;
    visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(49,76,205,0.9);
    z-index: 2;
    cursor: pointer;
}


.incident-detail-card{
  border: 2px solid black;
	background-color: #ffffff;
	width: 99%;
	border-radius: 0 0 10px 10px;
	margin: 3% auto;
}

.detail-card-image{
	margin: auto auto;
}

.incident-detail-card h3{
	text-align: center;
	font-weight: 600;
	margin-top: 6%;
	margin-bottom: 7%;

}

.created-by, .created-at, .status{
	color: #314CCD;
	margin-left: 3%;
}

.modification{
	margin-top: 10%;
}
.modification span{
    margin-left: 12%;
}

.pen, .trash{
	margin-left: 1%;
}

.modification .delete{
	margin-left: 20%;
	
}

.edit-detail{
	margin-left: -4%;
}

.modification .change-status{
	margin-left: 20%;
}

.close-button{
	position: relative;
	top: -620px;
	left: 105%;
	font-size: 40px;
	color: #e3e3e3;
	cursor: pointer;
}

/* Add image and video */
/*.upload-button-wrapper{
	position: relative;
	overflow: hidden;
	display: inline-block;
}*/

.upload-media{
	border: 1px solid #314CCD;
	color: #314CCD;
	width: 25%;
	font-size: 14px;
	border-radius: 10px;
	padding: 1% 1%;
	color: white;
	background-color:  rgb(49,76,205,0.8);
	cursor: pointer;
	text-align: center;
}

/* Userame */
.username{
	margin-left: -4%;
	color: white;
	margin-right: 1%;
}

/* Admin Dashboard */
.admin-filters{
	font-size: 13px;
	margin-top: 4%;
	margin-bottom: -1%;
}

.admin-filters{
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}


.admin-filters > li{
	list-style-type: none;
	margin: 1% 1%;
}

/* Profile page */

.my-profile-parent{
	background-color: #314CCD;
	margin-top: -2%;
	padding-bottom: 1%;
	padding-top: 01%;
}

.my-profile{
	visibility: visible;
	border: 3px solid #314CCD;
	width: 35%;
	padding-bottom: 4%;
	padding-top: 4%;
	border-radius: 10px;
}

.img-profile{
	margin-top: 3%;
	margin-bottom: 3%;
	margin-left: 25%;
	border-radius: 50%;
	width: 50%;
	height: 50%;
}

.create-count{
	margin-left: 18%;
}

.set{
	margin-left: 1%;
}
.edit-profile{
	margin-left: 12%;
}

.profile-settings > a{
	margin-left: 20px;
}

.profile-inquiry{
  margin-left: 20px;
}

.badge-count{
	margin-left: 20px;
}
/* LF feedback */
.hide {
	visibility: hidden;
}

/* Footer */
.footer{
	background-color: #314CCD;
	padding: 3% 0 1% 0;
	text-align: center;
	color: white;
	margin-top: -0.5%;
}

.footer a{
	color: white;
}

.twitter{
	margin: 0 10%;
}

.footer-brand{
	font-weight: 600;
}

.second-footer{
  background-color: white;
	padding: 1% 2%;
	text-align: center;
	color:#314CCD;
}

.second-footer a {
	color: #314CCD;
}

.footer-media{
	font-weight: 600;
}
/* *************************************************** */
/* Red flag card list */
/* *************************************************** */

.cards-incidents{
	background-color: #314CCD;
	padding-top: 2%;
	padding-bottom: 2%;
}

.red-flag-card-heading{
	text-align: center;
	color: white;
	margin-bottom: 2%;
}
.red-flag-cards{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-left: 5%;
	padding-right: 5%;
}

.red-flag-cards > li{
	list-style-type: none;
	border: 1px solid black;
	border-radius: 0 0 10px 10px;
	margin: 1% 2%;
	background-color: white;

	
}

.red-flag-card-img{
	height: 300px;
	width: 300px;
}

.red-flag-card-title{
	text-align: center;
	font-size: 23px;
}

.red-flag-creator{
	margin: 1% 2%;

}

.red-flag-by{
	margin-left: 1%;
	color: #314CCD;
}

.red-flag-date{
	font-weight: 600;
	font-size: 10px;
	margin-left: 10%;
}

.red-flag-card-info{
	font-size: 12px;
}

.red-flag-location{
	margin-left: 2%;
	font-weight: 600;
}

.red-flag-location-v,
.red-flag-status-v{
	color: #314CCD;
	margin-left: 1%;
}

.red-flag-status{
	margin-left: 3%;
	font-weight: 600;
}

.red-flag-status-v{
	font-size: 10px;
}

/* Personalise intervetion card */

.cards-interventions{
	background-color:#314CCD;
	margin-top: -0.5%;
}

.intervention-heading{
	color: white;
}

/* .view-image-prof{
  margin-top: 35%;
} */


/* *************************************************** */
/* Red flag card list */
/* *************************************************** */


/* *************************************************** */
/* Incident detai-card */
/* *************************************************** */

.additionnal-info{
	margin-top: 10%;
	font-size: 14px;
}

.button-map{
	margin: 7% 0;
}

.view-map-button{
	background-color: #314CCD;
	padding: 1% 2%;
	margin-left: 40%;
	color: white;
	border-radius: 10px;
}

/* Adding sidebar */
.detail-incidents-page{
	display: flex;
	justify-content: space-around;
}

/* Sidebar */
.sidebar{

	margin-top: 5%;
	margin-right: 5%;
}

.sidebar > h2{
	color: #314CCD;
	text-align: center;
}

.aside-card-1{
	border: 1px solid black;
	margin-top: 10%;
	border-radius: 0 0 5px 5px;
}

/* *************************************************** */
/* Incident detai-card */
/* *************************************************** */

/* *************************************************** */
/*  */
/* *************************************************** */

/* Admin inputs */
.admin-input{
	-webkit-appearance: none;
	border: 1px solid #1F3349;
	padding: 0.5% 3%;
	border-radius: 10px;
	font-size: 16px;
	width: 50%;
	/* margin-left: 2%; */
}

.admin-table{
	margin: 3% 2%;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #314CCD;
}

/* table heading */
thead{
	background-color: #314CCD;
	color: white;
}
user-card
thead th:nth-child(1) {
  width: 10%;
}

thead th:nth-child(2) {
  width: 25%;
}
thead th:nth-child(3) {
  width: 10%;
}
thead th:nth-child(4) {
  width: 25%;
}
thead th:nth-child(5) {
  width: 15%;
}

thead th:nth-child(6) {
  width: 15%;
}

th, td {
  padding: 1.5%;
}

/* Table body */
th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

tbody  a{
	color: #314CCD;
}
/* Zebra striping */

tbody tr:nth-child(odd) {
  background-color: white;
}

tbody tr:nth-child(even) {
  background-color: #eee;
}

.admin-status{
	background-color: #314CCD;
	color: white;
	border-radius: 5px;
	padding: 2% 3%;
}

/* Pagination */
.pagination {
	display: inline-block;
	margin: 2% 35%;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}

.pagination a.active {
	background-color: #314CCD;
	color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

/* Responsiveness */
/* For small screen laptop */
@media (max-width: 1200px) {
  /* search bar */
.custom-navbar > li:nth-of-type(2){
	margin-left: 30%;
}

/* sign in on navbar */
.custom-navbar > li:nth-of-type(3){
  margin-left: 2%;
}

/* signup on navbar */
.custom-navbar > li:nth-of-type(5){
  margin-left: 1%;
}

}

/* For smaller laptop */
@media (max-width: 1000px) {
  /* search bar */
.custom-navbar > li:nth-of-type(2){
	margin-left: 35%;
}

/* sign in on navbar */
.custom-navbar > li:nth-of-type(4){
  margin-left: 2%;
}

/* signup on navbar */
.custom-navbar > li:nth-of-type(5){
  margin-left: 1%;
}

}

@media (max-width: 800px) {
  /* search bar */
.custom-navbar > li:nth-of-type(2){
	margin-left: 20%;
}

/* sign in on navbar */
.custom-navbar > li:nth-of-type(4){
  margin-left: 2%;
}

/* signup on navbar */
.custom-navbar > li:nth-of-type(5){
  margin-left: 1%;
}

}
